<app-header></app-header>
<div style="opacity: 1;">

<div class="features-content">
  <header class="marketing-banner">
  <h1 class="banner-headline no-toc no-anchor" id="features--benefits">Features &amp; Benefits</h1>
</header>
<article class="center-layout">
  <div class="ngfeatures" *ngFor='let f of features'>  <!--directive-->
    <div class="feature-section">
      <div class="feature-header">
        <div class="text-headline">{{ f.title | uppercase }}</div> <!--pipe-->
        <img src='https://angular.io/{{ iconURL }}' height="70px" alt="">  <!--interpolaton-->
      </div>
      <div class="feature-row">
        <div class="feature">
          <div class="feature-title">
            <span [innerHTML]="f.title1 | boldIt"> <!--own pipe-->
            </span>
           </div>
          <p class="text-body">{{ f.body1 }}</p>
        </div>
        <div class="feature">
          <div class="feature-title">
            <span [innerHTML]="f.title2 | boldIt">
            </span>
           </div>
          <p class="text-body">{{ f.body2 }}</p>
        </div>
        <div class="feature">
          <div class="feature-title">
            <span [innerHTML]="f.title3 | boldIt">
            </span>
           </div>
          <p class="text-body">{{ f.body3 }}</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="cta-bar announcement-bar">
    <a class="button" href="start">Get Started</a>
  </div>
</article>
