<div class="d-intro">
  <h1 id="setting-up-the-local-environment-and-workspace">
    Setting up the local environment and workspace
  </h1>
  <p>
    This guide explains how to set up your environment for Angular development using the
    <a href="cli" title="CLI command reference">Angular CLI tool</a>.
    It includes information about prerequisites, installing the CLI, creating an initial workspace and starter app, and running that app locally to verify your setup.
  </p>
  <div class="callout is-helpful">
    <header>Try Angular without local setup</header>
    <p>If you are new to Angular, you might want to start with
      <a href="start">Try it now!</a>
      , which introduces the essentials of Angular in the context of a ready-made basic online store app that you can examine and modify. This standalone tutorial takes advantage of the interactive
      <a href="https://stackblitz.com/">StackBlitz</a>
      environment for online development. You don't need to set up your local environment until you're ready.
    </p>
  </div>
  <h2 id="prerequisites">
    Prerequisites
  </h2>
  <p>To use the Angular framework, you should be familiar with the following:</p>
  <ul>
    <li>
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">JavaScript</a>
    </li>
    <li>
      <a href="https://developer.mozilla.org/docs/Learn/HTML/Introduction_to_HTML">HTML</a>
    </li>
    <li>
      <a href="https://developer.mozilla.org/docs/Learn/CSS/First_steps">CSS</a>
    </li>
  </ul>
  <p>Knowledge of <a href="https://www.typescriptlang.org/">TypeScript</a> is helpful, but not required.</p>
  <p>To install Angular on your local system, you need the following:</p>
  <ul>
    <li>
      <p><strong>Node.js</strong></p>
      <p>Angular requires a <a href="https://nodejs.org/about/releases">current, active LTS, or maintenance LTS</a> version of Node.js.</p>
<div class="alert is-helpful">
<p>For information about specific version requirements, see the <code>engines</code> key in the <a href="https://unpkg.com/@angular/cli/package.json">package.json</a> file.</p>
</div>
<p>For more information on installing Node.js, see <a href="https://nodejs.org" title="Nodejs.org">nodejs.org</a>.
If you are unsure what version of Node.js runs on your system, run <code>node -v</code> in a terminal window.</p>
</li>
</ul>
<a id="npm"></a>
<ul>
<li>
<p><strong>npm package manager</strong></p>
<p>Angular, the Angular CLI, and Angular applications depend on <a href="https://docs.npmjs.com/getting-started/what-is-npm">npm packages</a> for many features and functions.
To download and install npm packages, you need an npm package manager.
This guide uses the <a href="https://docs.npmjs.com/cli/install">npm client</a> command line interface, which is installed with <code>Node.js</code> by default.
To check that you have the npm client installed, run <code>npm -v</code> in a terminal window.</p>
</li>
</ul>

</div>
