.content .bg-gradient {
  background-color: #1976d2;
  background: linear-gradient(145deg,#0d47a1,#42a5f5);
  color: #fff;
}

.content .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
  z-index: -1;
}

.content .logo img {
  width: 400px;
  height: 400px;
  margin-bottom: 8px;
  max-width: none;
  padding: 0;
  filter: drop-shadow(0 2px 2px rgba(10,16,20,.24));
}

.content section {
  display: flex;
  align-items: center;
  position: relative;
  width: 900px;
  margin: 0 auto -32px;
  color: #fff;
}

.content section .home {
  width: 100%;
  max-width: 1040px;
  margin: -7% auto 0;
  padding-top: 0;
  padding-bottom: 0;
}

.content section .home p {
  color: #fff;
  font-size: 40px;
  line-height: 64px;
  font-weight: 600;
  margin: 32px 0;
}

.content section .home a {
  padding: 10px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  background-color: #fff;
  border-radius: 48px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  box-sizing: border-box;
  cursor: pointer;
}

.article {
  padding: 3rem;
}

.article-row {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 920px;
  margin: 32px auto;
}

.article-row .container img {
  max-width: 90%!important;
}

.article-row .container {
  max-width: 50%;
}

.article-row .container .text-block {
  padding-right: 15%;
}

.text-headline {
  font-size: 20px;
  font-weight: 500;
  color: #1976d2;
  margin-top: 10px;
  text-transform: uppercase;
}

.article-last .card {
  width: 200px;
  height: 70%;
  width: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgb(10 16 20 / 24%), 0 0 2px rgb(10 16 20 / 12%);
  box-sizing: border-box;
  transition: box-shadow .5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 70%;
  min-width: 350px;
  height: auto;
  margin: auto;
  padding: 24px;
  box-shadow: 0 6px 6px rgb(10 16 20 / 15%), 0 0 52px rgb(10 16 20 / 12%);
}

.article-last .card img {
  margin: 16px;
}

.article-last .card .container {
  margin: 0 16px;
}

.article-last .card .container p {
  text-align: left;
  color: #444;
  margin: 0;
  padding: 8px 0;
}
