<div class="navbar">
  <a href="/" class="nav-link home">
    <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" width="150" height="40" title="Home" alt="Home">
  </a>
  <ul>
    <li>
      <a href="features" title="Features.">
        Features
      </a>
    </li>
    <li>
      <a href="docs" title="Docs.">
        Docs
      </a>
    </li>
    <li>
      <a href="resources" title="Resources.">
        Resources
      </a>
    </li>
    <li>
      <a href="events" title="Events.">
        Events
      </a>
    </li>
    <li>
      <a href="https://blog.angular.io/" title="Blog.">
        Blog
      </a>
    </li>
  </ul>
  <div class="search-input">
    <input type="search" aria-label="search" placeholder="Search">
  </div>
  <div>
    <a href="https://twitter.com/angular" title="Twitter" aria-label="Angular on twitter"></a>
    <a href="https://github.com/angular/angular" title="GitHub" aria-label="Angular on github"></a>
  </div>
</div>
