<div class="navbar">
  <a [routerLink]="'/'" class="nav-link home">
    <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" width="150" height="40" title="Home" alt="Home">
  </a>
  <ul>
    <li>
      <a [routerLink]="'/features'" title="Features.">
        Features
      </a>
    </li>
    <li>
      <a href="docs" title="Docs.">
        Docs
      </a>
    </li>
    <li>
      <a href="resources" title="Resources.">
        Resources
      </a>
    </li>
    <li>
      <a href="events" title="Events.">
        Events
      </a>
    </li>
    <li>
      <a href="https://blog.angular.io/" title="Blog.">
        Blog
      </a>
    </li>
  </ul>
  <div class="search-input">
    <input type="search" aria-label="search" placeholder="Search">
  </div>
  <div class="other-src">
    <a href="https://twitter.com/angular" title="Twitter" aria-label="Angular on twitter" id="twitter-logo"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/angular/angular" title="GitHub" aria-label="Angular on github" id="github-logo"><i class="fab fa-github"></i></a>
  </div>
</div>

<router-outlet></router-outlet>
