.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.navbar img {
  margin: 0 16px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  color: #444;
}

.navbar ul li {
  list-style-type: none;
  cursor: pointer;
}

.navbar ul li a {
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
}

.navbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.navbar #twitter-logo:hover {
  opacity: 0.8;
}

.navbar .search-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
  margin-right: 16px;
}
.navbar .search-input input {
  color: #444;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  padding: 5px 16px;
  margin-left: 8px;
  width: 180px;
  max-width: 240px;
  height: 50%;
  -webkit-appearance: none;
}
