<div>
    <div class="algorithm-block">
        <h2 class="animated animated-fadeinup">How LendoChat works</h2>
        <div class="flex-row small-text">
            <div class="flex-one flex-column animated animation-delay-05 animated-fadeinup">
                <div class="step-img guest-img">
                </div>
                <p>Guest gets on the platform to chat with reception or order services online</p>
            </div>
            <div class="arrow-block animated animation-delay-05 animated-fadeinup">
    
            </div>
            <div class="flex-one flex-column animated animation-delay-1 animated-fadeinup">
                <div class="step-img support-img"></div>
                <p>Reception supports guest in the chat or confirms the order and pass it to a responsible department</p>
            </div>
            <div class="arrow-block animated animation-delay-1 animated-fadeinup"></div>
            <div class="flex-one flex-column animated animation-delay-15 animated-fadeinup">
                <div class="step-img service-img">
    
                </div>
                <p>Hotel service fulfills guest’s request and updates the status of the request in the system</p>
            </div>
            <div class="arrow-block animated animation-delay-15 animated-fadeinup"></div>
            <div class="flex-one flex-column animated animation-delay-2 animated-fadeinup">
                <div class="step-img enjoy-img">
                    
                </div>
                <p>Guest enjoys the service. All order and dialogue history are saved and can be reviewed at any time</p>
            </div>
        </div>
    </div>
    
    <div class="flex-row animated animation-delay-05 animated-fadeinup">
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-lang">

            </div>
            <div>Remove language barriers between staff and guests while saving costs on extra staff speaking different languages</div>
        </div>
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-cart"></div>
            <div>Generate more revenue enabling guests to easily search, select and order services in their own language. No more hesitation for guests to enjoy more service offers during their stay at your hotel.</div>
        </div>
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-smiles"></div>
            <div>Follow guest reactions and satisfactions to respond quickly and accurately</div>
        </div>
    </div>
    <div class="flex-row animated animation-delay-05 animated-fadeinup">
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-lang">

            </div>
            <div>Remove language barriers between staff and guests while saving costs on extra staff speaking different languages</div>
        </div>
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-cart"></div>
            <div>Generate more revenue enabling guests to easily search, select and order services in their own language. No more hesitation for guests to enjoy more service offers during their stay at your hotel.</div>
        </div>
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-smiles"></div>
            <div>Follow guest reactions and satisfactions to respond quickly and accurately</div>
        </div>
    </div>
    <div class="flex-row animated animation-delay-05 animated-fadeinup">
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-lang">

            </div>
            <div>Remove language barriers between staff and guests while saving costs on extra staff speaking different languages</div>
        </div>
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-cart"></div>
            <div>Generate more revenue enabling guests to easily search, select and order services in their own language. No more hesitation for guests to enjoy more service offers during their stay at your hotel.</div>
        </div>
        <div class="benefit-item flex-column column-3 small-text">
            <div class="benefit-icon benefit-icon-smiles"></div>
            <div>Follow guest reactions and satisfactions to respond quickly and accurately</div>
        </div>
    </div>

</div>