<div>
  <lc-header></lc-header>
  <router-outlet></router-outlet>
  
  <footer class="white-color">
    <div class="container footer-container flex-column">
      <h1>Contact us</h1>
      <div class="contacts flex-row">
        <div class="footer__item">
          <h4 class="footer__title">Location</h4>
          <p class="footer__text">143070, Moskovskaya obl., Odincovskij r-on, g.Kubinka, ul. 59 Mekhkolonna, str.1, pom.13, ofis6, et.1</p>
        </div>
        <div class="footer__item">
          <h4 class="footer__title">Phone</h4>
          <a class="footer__text" href="tel:+79645204646">+7 964 520 46 46</a>
        </div><div class="footer__item"><h4 class="footer__title">Email</h4><a class="footer__text" data-email="1" href="mailto:info@lendohotel.com">info@lendohotel.com</a><a class="footer__text" data-email="1" href="sales:info@lendohotel.com">sales@lendohotel.com</a></div></div></div></footer>
</div>