<div class="login-page">
    <div class="login-logo">
    </div>
    <form class="login-form">
        <h1 class="login-form__title">Sign In (staff only)</h1>
        <div class="ant-row ant-form-item ant-form-item-no-colon login-form__row">
            <div class="ant-form-item-label">
                <label for="username" class="ant-form-item-required" title="Your login or email">Username</label>
            </div>
            <div class="ant-form-item-control-wrapper">
                <div class="ant-form-item-control">
                    <span class="ant-form-item-children">
                        <input type="text" name="username" id="username" class="ant-input" value="">
                    </span>
                </div>
            </div>
        </div>
        <div class="ant-row ant-form-item ant-form-item-no-colon login-form__row">
            <div class="ant-form-item-label">
                <label for="password" class="ant-form-item-required" title="Password">Password</label>
            </div>
            <div class="ant-form-item-control-wrapper">
                <div class="ant-form-item-control">
                    <span class="ant-form-item-children">
                        <span class="ant-input-affix-wrapper">
                            <input type="password" name="password" id="password" class="ant-input" value="">
                            <span class="ant-input-suffix">
                                <i class="anticon anticon-eye login-password-icon"></i>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="ant-row ant-form-item ant-form-item-no-colon login-form__row">
            <div class="ant-form-item-control-wrapper">
                <div class="ant-form-item-control">
                    <span class="ant-form-item-children">
                        <button type="submit" class="ant-btn login-form__button ant-btn-primary">
                            <span>Sign In</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
