.login-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 290px;
}
.login-page .login-logo {
    height: 124px;
    width: 100%;
    /*background: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 466 474'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cg stroke='%23007A7F' stroke-width='11.92'%3E %3Cpath fill='%23007A7F' d='M459.05 156.99H6V33.67A31.76 31.76 0 0 1 37.67 2h389.7a31.76 31.76 0 0 1 31.68 31.67v123.32z'/%3E %3Cpath d='M6 189.78v183.68c0 10.45 8.55 19 19 19h218.7l43.22 70.04 43.22-70.04h109.9c10.46 0 19-8.55 19-19V189.78H6z'/%3E %3C/g%3E %3Cpath fill='%23fff' stroke='%23fff' stroke-width='2.85' d='M324.4 89.13h.41c0-1.1.07-2.19-.01-3.27-.42-5.8 2.67-14.11-1.21-16.88-5.9-4.2-14.54-3.24-22.14-1.74-10.08 2-15.53 7.58-16.85 18.05-3.3 26.08 7.91 36.3 31.12 33 5.38-.76 8.7-3.76 8.68-9.6-.02-6.52 0-13.04 0-19.56zm6.95-15.28c0 10.87.08 21.75-.02 32.62-.1 12.02-3.91 16.4-15.77 18.3a43.96 43.96 0 0 1-19.98-1.52c-12.56-3.83-19.2-15.72-18.21-32.44 1.34-22.47 12.39-31.9 35.53-30.3 11.91.8 11.91.8 11.91-11.1 0-3.47-.04-6.95.02-10.43.04-2.34-.4-5.3 3.26-5.08 3.32.19 3.25 2.92 3.25 5.36.02 5 .01 10.01.01 15.01v19.58zM139.72 91.87c9.69-1.13 19.39-2.2 29.07-3.42 5.04-.64 7-3.75 6.4-8.7a13.53 13.53 0 0 0-6.82-10.51c-14.46-8.62-32.43 1.37-33.04 18.23-.13 3.46.8 4.98 4.39 4.4zm18.04 33.29c-18.66.1-30.26-13.13-29.44-33.69.18-4.35.8-8.66 2.2-12.82 5.82-17.33 28.64-24.37 43.4-13.32 5.66 4.22 8.12 10.07 7.93 17.03-.2 7.01-2.87 10.47-9.89 11.54-10.3 1.57-20.66 3.04-31.05 3.7-5.76.38-5.8 2.5-4.27 6.87 3.86 10.98 14.5 16.34 28.26 13.91 2.56-.45 5.07-1.2 7.6-1.86 1.78-.46 3.64-.74 4.3 1.49.62 2.04-.77 3.45-2.46 4.03a53.16 53.16 0 0 1-16.58 3.12zM358.38 94.55c.17 1.51.27 4.8.92 7.99 2 9.8 9.04 15.62 19.36 16.29 10.53.68 17.72-3.96 21.17-13.68 2.32-6.54 2.2-13.18 1.22-19.96-1.97-13.58-13.03-21.27-26.42-18.16-10.77 2.5-16.24 11.18-16.25 27.52zm-6.53-.04c-.31-19 7.44-30.82 21.13-33.38 22.04-4.12 36.94 9.79 35.27 32.9-.13 1.74-.35 3.46-.56 5.19-2.09 17.3-11.8 26.15-28.3 25.83-15.96-.3-25.6-9.73-27.16-26.5l-.38-4.04zM201.4 100.17c.32-6.52.31-13.08 1.03-19.55 1.33-12.03 8.29-18.5 20.52-19.72 1.73-.17 3.47-.32 5.2-.34 19.34-.2 26.61 5.98 28.13 25.27.86 10.83.42 21.76.54 32.64.02 2.46-.04 5.2-3.32 5.36-3.7.17-3.11-2.88-3.19-5.17-.4-11.74.82-23.52-.77-35.23-1.75-12.9-7.83-17.43-22.35-16.79-12.55.55-18.2 6.02-18.6 18.7-.32 10-.1 20.03-.13 30.05 0 1.52.07 3.06-.07 4.57-.21 2.09-.97 3.9-3.5 3.9-2.79 0-2.94-2.07-2.95-4.1-.02-6.53 0-13.06 0-19.59h-.53zM62.46 76.36c0-9.14-.12-18.3.07-27.44.07-3.14-1.61-8.34 3.3-8.39 5.6-.05 3.47 5.48 3.51 8.64.22 18.3.07 36.6.12 54.9.03 11.16 2.27 13.34 13.41 13.35 8.28.01 16.56-.03 24.83.03 2.32.02 5.27-.4 5.41 3.1.17 4.17-3.17 3.38-5.63 3.38-9.36 0-18.73.08-28.09-.23-12.48-.42-16.36-4.16-16.82-16.63-.38-10.22-.08-20.47-.08-30.7h-.03z'/%3E %3Cpath fill='%23007A7F' stroke='%23007A7F' stroke-width='5.57' d='M87.66 293.38c-.29 3.15-1.6 4.76-4.32 4.85-3 .1-4.85-1.24-4.85-4.42 0-2.75 1.7-4.23 4.2-4.44 3.09-.27 4.43 1.76 4.97 4.01zM117.55 289.27c2.92.6 4.34 2.37 4 5.32-.32 2.72-2.07 3.78-4.72 3.66-2.81-.13-4.05-1.8-4.02-4.37.02-3 1.78-4.48 4.74-4.6zM104.5 293.99c-.13 2.67-1.45 4.21-4.2 4.25-3.03.04-4.94-1.54-4.78-4.5.15-2.87 2.21-4.59 5.1-4.38 2.58.19 3.97 1.92 3.89 4.63zM327 305.97c8.75-1.02 17.5-2.03 26.26-3.07 4.75-.56 10.2-.55 11.3-6.66 1.17-6.51-1.45-11.88-7-15.57-14.75-9.8-34.96-1.3-38.28 16.02-1.87 9.8-1.87 9.8 7.72 9.28zm-16.53 1.18a48.7 48.7 0 0 1 2.43-15.6c6.6-20.65 33.19-29.05 50.5-15.83 7.81 5.96 10.16 14.22 8.58 23.57-.95 5.64-5 8.64-10.51 9.36-12.24 1.6-24.47 3.4-36.76 4.37-5.7.45-6.15 2.68-4.81 7.2 3.34 11.26 12.89 17.68 26.14 17.41 5.08-.1 9.99-1.16 14.86-2.51 2.04-.57 4.63-1.97 5.45 1.56.64 2.78-1.11 4.1-3.51 4.9-24.57 8.26-51.84 2.39-52.37-34.43zM222.88 303.83c-.24-1.7-.44-5.51-1.35-9.14-2.81-11.29-10.87-17.35-23.12-17.77-11.16-.38-19.53 5.1-23.16 15.57a44.89 44.89 0 0 0 .15 30.29c3.05 8.7 9.4 13.4 18.4 14.58 18.74 2.47 30.65-10.4 29.08-33.53zm7.86 2.72c.68 27.74-17.12 43.26-42.4 36.95-1.21-.3-2.4-.71-3.58-1.15-18.12-6.87-25.51-33.46-15.46-55.58 7.08-15.58 28.18-21.92 44.74-13.44 10.78 5.52 16.29 16.47 16.7 33.22zM254.96 291.19c0-10.33-.05-20.67.04-31 .03-2.57-.82-6 3.5-6.18 4.23-.2 3.89 2.95 4.04 5.73.65 11.32.66 11.32 11.87 11.32 4.03 0 8.07-.12 12.1.05 2.8.12 6.87-1 7.04 3.47.18 4.59-3.86 3.72-6.72 3.77-6.3.1-12.6.2-18.9-.02-3.7-.13-5.5.8-5.43 4.96.22 12.34-.25 24.7.24 37.03.53 13.35 7.58 18.75 20.94 16.89 1.74-.25 3.44-.82 5.18-1.07 2.04-.29 4.17-.47 4.68 2.35.37 2.02-.5 3.55-2.35 4.23-15.23 5.62-34.87.94-35.7-17.55-.5-11.3-.1-22.65-.1-33.98h-.43zM397.28 290.5c0-14.12-.13-28.24.1-42.35.04-3.13-1.94-8.52 3.02-8.68 5.48-.18 4.91 5.38 4.93 9.3.07 21.93.04 43.87.03 65.8 0 7.3.12 14.62-.07 21.92-.07 2.86.34 6.75-4.03 6.82-4.56.08-3.93-3.79-3.94-6.69-.07-15.37-.04-30.75-.04-46.13z'/%3E %3Cpath fill='%231AB3B7' d='M137.38 295.55c0 13.62.08 27.24-.07 40.86-.04 3.02.7 7.39-4.39 7.08-4.5-.27-3.5-4.42-3.52-7.1-.14-27.75-.1-55.49-.06-83.23 0-2.7-.23-6.18 3.6-6.38 4.3-.22 4.42 3.28 4.43 6.4.02 14.13 0 28.25 0 42.37'/%3E %3Cpath fill='%23007A7F' stroke='%23007A7F' stroke-width='5.57' d='M137.38 295.55c0 13.62.08 27.24-.07 40.86-.04 3.02.7 7.39-4.39 7.08-4.5-.27-3.5-4.42-3.52-7.1-.14-27.75-.1-55.49-.06-83.23 0-2.7-.23-6.18 3.6-6.38 4.3-.22 4.42 3.28 4.43 6.4.02 14.13 0 28.25 0 42.37zM62.19 294.25c0-13.58-.04-27.16.02-40.74.01-2.93-.5-6.62 3.86-6.88 4.9-.3 3.95 4.03 3.96 6.57.2 27.9.22 55.81.1 83.72-.02 2.38.63 6.47-3.48 6.25-3.54-.18-4.5-3.33-4.49-6.68.06-14.08.03-28.16.03-42.24z'/%3E %3C/g%3E %3C/svg%3E);*/
    background-position: center center;
    background-repeat: no-repeat;
}
.login-page .login-form {
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #009ba2;
    padding: 18px 24px 24px 24px;
    display: inline-block;
    -webkit-box-shadow: 0 2px 7px 0 rgb(0 155 162 / 20%);
    box-shadow: 0 2px 7px 0 rgb(0 155 162 / 20%);
    width: 292px;
}
.login-page .login-form__title {
    font-size: 20px;
    text-align: center;
    margin: 8px 0 16px 0;
    padding: 0;
    color: #009ba2;
    line-height: 19px;
}
.login-page .login-form__row {
    margin-bottom: 16px;
}
.ant-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    box-sizing: border-box;
}
.ant-form-item {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 24px;
    vertical-align: top;
}
.ant-form-item-label label {
    color: rgba(0, 0, 0, 0.85);
}
.ant-form-item label {
    position: relative;
}
.ant-form label {
    font-size: 14px;
}
.ant-form-item-control {
    line-height: 39.9999px;
    position: relative;
    zoom: 1;
}
a, area, button, [role="button"], input:not([type=range]), label, select, summary, textarea {
    touch-action: manipulation;
}
input[type="text"], input[type="password"], input[type="number"], textarea {
    -webkit-appearance: none;
}
.ant-input {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-variant: tabular-nums;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
}
.ant-btn {
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}
.login-page .login-form__button {
    padding: 0 32px;
}
.ant-btn-primary {
    color: #fff;
    background-color: #009ba2;
    border-color: #009ba2;
}