.d-intro {
  padding: 0.65em 3rem 2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  display: inline-block;
  margin: 1.6rem 0;
}
h2 {
  border-top: 1px solid #dbdbdb;
  clear: both;
  font-size: 32px;
  margin-top: 4rem;
  padding-top: 4rem;
}
h3, h4 {
  margin-top: 3rem;
  clear: both;
}

h3 {
  font-size: 24px;
}

code {
  background-color: hsla(0,0%,85.9%,.5);
  border-radius: 4px;
  color: #333;
  padding: 4px;
  font-family: Roboto Mono,monospace;
  font-size: 90%;
}
